@import "tailwindcss";
@import "@fontsource-variable/dm-sans/wght.css";
@import "@fontsource-variable/jetbrains-mono/wght.css";
@import "@fontsource-variable/plus-jakarta-sans/wght.css";

@theme {
  --color-background: #090c11;
  --color-card: #121824;
  --color-card-subtle: rgba(9, 12, 17, 0.8);
  --color-primary: #f67a7e;
  --color-primary-foreground: #090c11;
  --color-secondary: #1b71e9;
  --color-secondary-foreground: #ffffff;
  --color-accent: #7024eb;
  --color-border: #1f293d;
  --color-success: #10b981;
  --color-foreground: #ffffff;
  --color-muted: #94a3b8;

  --font-plus-jakarta-sans: "Plus Jakarta Sans Variable", sans-serif;
  --font-jetbrains-mono: "JetBrains Mono Variable", monospace;
  --font-dm-sans: "DM Sans Variable", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  @apply m-0 bg-background text-foreground font-dm-sans;
}

h1 {
  @apply font-plus-jakarta-sans;
}
